<?xml version="1.0" encoding="UTF-8" ?>
<!-- $Id$ -->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
        
  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%p %d (%c{1}) %m%n"/>
    </layout>
  </appender>
  
   <appender name="FILEOUT" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="/var/log/pfs.daily.log"/>
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%p %d (%c{1}) %m%n"/>
    </layout>
  </appender>
  
  <logger name="org.phaidra.fedora" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="FILEOUT"/>
  </logger>
  
  <root>
    <level value="DEBUG" />
    <appender-ref ref="FILEOUT"/>
  </root>
  
</log4j:configuration>
